
<div class="row justify-content-center custom-text">
<h1>Hello World!</h1>
</div>
<div class="row justify-content-center custom-text">
<h2>Welcome to Bootcamp Forum</h2>
</div>
<div class="row justify-content-center text-center custom-text">
<h4>This website was created to allow a space for people interested in coding to share experiences, job opportunities, and ask general questions.</h4>
</div>



<div id="logout-div"><button id="logout" class="btn btn-secondary">Logout</button></div>


