<<<<<<< HEAD
<div class="card col-sm">
    <h4 class="card-header bg-white">Placeholder Post!</h4>
    <div class="card-body">                        
        <h6 class="card-title text-muted">Posted by and Date created??</h6>
        <p class="card-text">Some quick example text to build on the post's title and make up the bulk of the post's content.</p>
        <button type="button" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-primary">Delete</button>
    </div>
</div> 
=======
<h1>Hello World</h1>
<div id="logout-div"><button id="logout">Logout</button></div>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<<<<<<< HEAD
<script src="./js/logout.js"></script>
>>>>>>> main
=======
<script src="/js/logout.js"></script>
>>>>>>> main
