<h1>Hello World</h1>

<h2>Welcome to Bootcamp Forum</h2>

<h4>This website was created to allow a space for people interested in coding to share experiences, job opportunities, and ask general questions.</h4>


<div id="logout-div"><button id="logout">Logout</button></div>

