<form id="login-form">
  <legend>User Login</legend>
  <div class="form-group">
    <label for="login-username">Username</label>
    <input type="text" class="form-control" id="login-username" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="login-password">Password</label>
    <input type="password" class="form-control" id="login-password">
  </div>
  <br>
  <small class="form-text text-muted">Don't have an account? Signup <button type="button" class="btn btn-secondary btn-sm">Here</button></small>
</form>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="./js/login.js"></script>



