<button type="button" class="btn btn-primary post-button">+ New Post</button>
{{#each messages}}
<div class="card post-card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{topic}}</h6>
    <p class="card-text">{{contents}}</p>
    <button type="button" class="btn btn-secondary btn-sm">View Post</button>
  </div>
</div>
{{/each}}
<script src="/js/post.js"></script>